@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@import 'navbar.scss';

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url('../images/background.png')no-repeat center center;
  background-size: cover;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

.img-circle {
  background: #FFF;
  border: 1px solid black;
}

.img-thumbnail{
  background: transparent;
  border: none;
}
#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000 1%, rgba(255, 255, 255, 0.01) 90%);
    z-index: -1;
}

#page-wrapper {
  margin-top: 80px;
}

p {
  color: #FFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.sub {
  font-size: 12px;
}

.live {
  color: #FC00C6;
  padding-left: 2px;
}


.content-wrapper{
  border: 1px solid #fff;
  background: #000;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 550px;
  height: 600px;
  max-width: 700px;

}

.item {
  background: #333;
  padding: 10px;
  border-bottom:1px solid #000;
}

.topic {
  padding: 10px;
}

.img-div {
  img {
    height: 40px;
    width: 40px;
  }
}

.img-div2 {
  img {
    height: 35px;
    width: 35px;
  }
}



.question-box{
  p {
    color: #000;
  }
  background: #FFF;
  border: 5px solid #fff;
  box-shadow: 0 0 13px #fff;
  margin-top: 20px;

  .question-header {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .question-body {
    padding: 10px;
  }
}





















