<div class="container-fluid">

  <div class="mobile-logo">
    <div class="row valign-wrapper">
      <div class="wrap">
      <div class="logo-img valign">
        <img class="img-thumbnail inline" src="images/watermelon.png" />
      </div>
      <div class="logo-body valign">
        <h3>Slice</h3>
      </div>
      </div>
      </div>
    </div>

  <div class="content-wrapper">

    <div class="item">
      <div class="row valign-wrapper">
        <div class="item-img valign img-div">
          <img src="images/apple.png" class="img-circle img-responsive center-block">

        </div>
        <div class="item-title valign">
          <div class="row">
            <p>Apple</p>
            <p class="sub">Q&A <span class="live">Live</span></p>
          </div>
        </div>
        <div class="item-body valign">
          <p>How bout them apples?</p>
        </div>
        <div class="item-arrow valign img-div2 text-right">
          <img src="images/circle_rightarrow.png" class="img-thumbnail">
        </div>
      </div>
    </div>


  </div>
</div>