<div class="container">
  <div class="content-wrapper">
    <div class="item">
      <div class="row valign-wrapper">
        <div class="col-sm-2 valign img-div">
          <!-- <img src="images/apple.png" class="img-circle img-responsive center-block"> -->
          <img src="http://localhost:8081/apple.png" class="img-circle img-responsive center-block">

        </div>
        <div class="col-sm-2 valign">
          <div class="row">
            <p>Apple</p>
            <p class="sub">Q&A <span class="live">Live</span></p>
          </div>
        </div>
        <div class="col-sm-6 valign">
          <p>How bout them apples?</p>
        </div>
        <div class="col-sm-1 valign">
          <img src="http://localhost:8081/circle_rightarrow.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>