<div class="container">
  <div class="content-wrapper">
    <div class="topic">
      <div class="row">
        <div class="col-sm-12">
          <p>Topic: How bout them apples?</p>
        </div>
      </div>
      <div class="question-box">
        <div class="question-header">
          <div class="row">
            <div class="col-sm-2 valign img-div">
              <!-- <img src="images/apple.png" class="img-circle img-responsive center-block"> -->
              <img src="images/apple.png" class="img-circle img-responsive center-block">
            </div>
            <div class="col-sm-2 valign">
              <div class="row">
                <div class="col-sm-12">
                  <p>Apple</p>
                  <p class="sub">Q&A <span class="live">Live</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="question-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Why are you so delicious?</p>
            </div>
          </div>
          <br>
        </div>
        <div class="question-footer">
          <div class="row">
            <div class="col-sm-2 col-sm-offset-9 text-right">
              <span>Apple</span>
            </div>
            <div class="col-sm-1">
              <img src="images/apple.png" class="img-circle img-responsive">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 text-right">
              <p>I'm full of fructose!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

