<div class="container-fluid">



  <div class="content-wrapper">
    <div class="mobile-logo">
      <div class="row valign-wrapper">
        <div class="wrap">
        <div class="logo-img valign">
          <img class="img-thumbnail inline" src="images/watermelon.png" />
        </div>
        <div class="logo-body valign">
          <h3>Slice</h3>
        </div>
        </div>
        </div>
      </div>
      
    <div class="topic">
      <div class="row">
        <div class="col-xs-12">
          <p>Topic: How bout them apples?</p>
        </div>
      </div>
      <div class="question-box">
        <div class="question-header">
          <div class="row inline-flex">
            <div class="topic-img valign img-div">
              <!-- <img src="images/apple.png" class="img-circle img-responsive center-block"> -->
              <img src="images/apple.png" class="img-responsive img-circle center-block">
            </div>
            <div class="topic-head valign">
              <div class="row">
                <div class="col-xs-12">
                  <h4>Apple</h4>
                  <p class="gray">Palo Alto, US</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="question-body">
          <div class="row">
            <div class="col-xs-12">
              <p class="gray">Why are you so delicious?</p>
            </div>
          </div>
          <br>
        </div>
        <div class="question-footer">
          <div class="row valign-wrapper">
            <div class="col-xs-offset-7 topic-answer text-right valign">
              <h4>Apple</h4>
            </div>
            <div class="topic-answer-img img-div valign">
              <img src="images/apple.png" class="img-responsive img-circle">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <p>I'm full of fructose!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

